.adv-input {
    margin: 10px 5px 15px 20px;
    border-bottom-right-radius: 50px;
    border-color: #DCDCDC;
}
.showAd-template {
    background-color: #DCDCDC;
    margin-bottom: 20px;
    border-radius: 25px;
    border-style:solid;
    width:1150px;
    height:200px;
}
.title-show {
    font-size: 30px;
    margin-left: 25px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: Impact;
    color: #32CD32;
    float:left;
}
.Edit{
    float:left;
    margin: 10px 5px 5px 7px;
}
.showAd-inner {
    margin-left: 40px;
    margin-bottom: 5px;
    clear:both
}
.ad-description {
    text-align: right;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #32CD32;
}
.solid-font {
    
    font-weight: bold;
    color: #32CD32;
    font-size:15px;
}
.firstBlock{
    float:left;
}
.show-photo {
    float: right;
    margin: 10px 15px 10px 10px;
    border:5px solid;
}
#clear{
    clear:both;
}
.filter-container{
    margin:5px 5px 5px 5px;
}
.filter-textbox{
    width:600px;
    height:35px;
    float:left;
    border-radius:50px;
    border:solid;
}