@model IEnumerable<PetsHotel.webapp.ViewModels.Home.UserViewModel>


@{
    ViewBag.Title = "UserList";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyAnimalsList</title>
</head>
<body>

    <h2>UserList</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Adres</th>
                </tr>
            </thead>
        </table>

</body>
</html>

@section Scripts{
    <script type="text/javascript">
        $(document).read(function () {
            $('#example').DataTable({
                ajax: {
                    url: "/User/UserList/1",
                    dataType: "json",
                    dataSrc: ""
                },
                columns: [
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    { "data": "Adres" }
                ]
            });
        });

    </script>
}


