
@{
    ViewBag.title = "Cats Advertisement";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CatAdvertisements</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
