
@{
    ViewBag.title = "Other Advertisement";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OtherAdvertisements</title>
</head>
<body>
    <div> 
        @Html.Partial("~/Views/Advertisement/_AdTemplate.cshtml")
    </div>
</body>
</html>
