@model IEnumerable<PetsHotel.webapp.ViewModels.Animal.MyAnilmalsListViewModel>

@{
    ViewBag.title = "Lista moich zwierzków";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyAnimalsList</title>
</head>
<body>
    <p>
        <br />
        @Html.ActionLink("Dodaj zwierzaka", "AddAnimal", "Animal", new { @class = "btn btn-primary", type = "button" })
    </p>


    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>AnimalId</th>
                <th>AnimalName</th>
                <th>AnimalType</th>
            </tr>
        </thead>
    </table>
</body>
</html>

@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            console.log("tes");
            $('#example').DataTable({
                ajax: {
                    url: "/Animal/AnimalList/1",
                    dataType: "json",
                    dataSrc: ""
                },
                columns: [
                    { "data": "AnimalId" },
                    { "data": "AnimalName" },
                    { "data": "AnimalType" }
                ]
            });
        });
    </script>
}